{#
/**
* @file
*/
#}
<div class="flexslider_module">
    <ul class="slides">
        <li>
            <img src="https://via.placeholder.com/300x200" alt=""/>
        </li>
        <li>
            <img src="https://via.placeholder.com/300x200" alt=""/>
        </li>
        <li>
            <img src="https://via.placeholder.com/300x200" alt=""/>
        </li>
        <li>
            <img src="https://via.placeholder.com/300x200" alt=""/>
        </li>
    </ul>
</div>