{#
    @file
    item-accordion.html.twig

    Availeble variables
        -title: Title for the section
        -description:  Description for the section
#}

<div class="dropdown-container">
	<header class="clearfix">
		<h1>{{title}}</h1>
		<figure class="expand"><i class="fa fa-close"></i></figure>
	</header>
	<article>
		<div class="article-inner">
            <p>{{description}}</p>
		</div>
	</article>
</div>